$foundation-palette: (
  primary: #6400AA,
  purchase: #E60050,
  secondary: #f8f4fc,
  success: #008A00,
  warning: #FFDC00,
  alert: #E60014,
  neutral: #666666,
  information: #FFDC00,
  white: #ffffff,
  off-black: #333333
);
$primary-darker: #540E89;
$red: #E60050;
$brand-blue: #00A0D6;
$gray: rgba(51,51,51,0.3);
$light-gray: #eeeeee;
$very-light-gray: #dddddd;
$gray-white-smoke: #F6F6F6;
$medium-gray: #cacaca;
$dark-gray: #8a8a8a;
$darker-gray: #666666; /* added */
$off-black: #333333; /* added */
$black: #0a0a0a;
$white: #fefefe;
$fullwhite: #ffffff;
